In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Aquisition

## Live Demos

In [23]:
books_data = pd.read_csv(
    "data/Books.csv",
    na_values=["Unknown"], true_values=["yes", 1], false_values=["no", 2]
)

In [24]:
books_data

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
0,Fictional Points of View,Peter Lamarque,252.0,Literary Criticism,The volume focuses on a wide range of thinkers...,1996,Cornell University Press,en,No rating,0,http://books.google.com/books/content?id=rh-om...
1,Science Fiction and Fantasy Literature,"R. Reginald, Douglas Menville, Mary A. Burgess",802.0,Reference,"Science Fiction and Fantasy Literature, A Chec...",2010-09-01,Wildside Press LLC,en,No rating,0,http://books.google.com/books/content?id=P8zW2...
2,Library of Congress Subject Headings,Library of Congress. Cataloging Policy and Sup...,1662.0,"Subject headings, Library of Congress",No description available,2004,Unknown Publisher,en,No rating,0,http://books.google.com/books/content?id=pEhkh...
3,Library of Congress Subject Headings,Library of Congress,1512.0,"Subject headings, Library of Congress",No description available,2007,Unknown Publisher,en,No rating,0,http://books.google.com/books/content?id=FgAjF...
4,Fictional Space in the Modernist and Post-mode...,Carl Darryl Malmgren,248.0,Fiction,Fictional space is the imaginal expanse of fie...,1985,Bucknell University Press,en,No rating,0,http://books.google.com/books/content?id=KXzoz...
...,...,...,...,...,...,...,...,...,...,...,...
2044,The Index Card,"Helaine Olen, Harold Pollack",256.0,Personal Finance,Simplifies personal finance to ten rules that ...,2016-01-05,Portfolio,en,4.0,30000,http://books.google.com/books/content?id=8z4_D...
2045,The Road to Wealth,Suze Orman,608.0,Personal Finance,"A comprehensive guide to managing money, inves...",2001-04-01,Riverhead Books,en,4.1,50000,http://books.google.com/books/content?id=zv0oD...
2046,The Success Principles,Jack Canfield,512.0,Self-Help,A guide to achieving personal and financial su...,2004-12-28,HarperCollins,en,4.2,100000,http://books.google.com/books/content?id=7zL_D...
2047,The Courage to Be Rich,Suze Orman,448.0,Personal Finance,Combines emotional and practical advice for bu...,1999-03-01,Riverhead Books,en,4.0,40000,http://books.google.com/books/content?id=2c3_D...
2048,The Money Manual,Tonya Rapley,256.0,Personal Finance,"A millennial-focused guide to budgeting, savin...",2023-05-16,Adams Media,en,4.2,20000,http://books.google.com/books/content?id=3z3_D...

In [25]:
books_data.shape

(2049, 11)

In [26]:
type(books_data)

pandas.core.frame.DataFrame

In [27]:
books_data.title

0                                Fictional Points of View
1                  Science Fiction and Fantasy Literature
2                    Library of Congress Subject Headings
3                    Library of Congress Subject Headings
4       Fictional Space in the Modernist and Post-mode...
                              ...
2044                                       The Index Card
2045                                   The Road to Wealth
2046                               The Success Principles
2047                               The Courage to Be Rich
2048                                     The Money Manual
Name: title, Length: 2049, dtype: object

In [28]:
books_data.author

0                                          Peter Lamarque
1          R. Reginald, Douglas Menville, Mary A. Burgess
2       Library of Congress. Cataloging Policy and Sup...
3                                     Library of Congress
4                                    Carl Darryl Malmgren
                              ...
2044                         Helaine Olen, Harold Pollack
2045                                           Suze Orman
2046                                        Jack Canfield
2047                                           Suze Orman
2048                                         Tonya Rapley
Name: author, Length: 2049, dtype: object

In [29]:
type(books_data.title)

pandas.core.series.Series

In [30]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [31]:
pd.DataFrame({
    "name": ["Michael", "Alice"],
    "age": [20, 19]
})

      name  age
0  Michael   20
1    Alice   19

In [32]:
books_data.dtypes

title              object
author             object
pages             float64
genre              object
description        object
published_date     object
publisher          object
language           object
average_rating     object
ratings_count       int64
thumbnail          object
dtype: object

In [12]:
books_data["pages"]

0        252
1        802
2       1662
3       1512
4        248
        ...
2044     256
2045     608
2046     512
2047     448
2048     256
Name: pages, Length: 2049, dtype: object

In [13]:
books_data.pages

0        252
1        802
2       1662
3       1512
4        248
        ...
2044     256
2045     608
2046     512
2047     448
2048     256
Name: pages, Length: 2049, dtype: object

In [14]:
books_data.pages.unique()

array(['252', '802', '1662', '1512', '248', '337', '384', '230', '178',
       '692', '604', '206', '838', '314', '64', '234', '644', '224',
       '652', '104', '1082', '1592', '1112', '780', '370', '254', '526',
       '562', '32', '194', '896', '268', '82', '196', '160', '882', '242',
       '816', '1306', '122', '134', '290', '282', '172', '204', '142',
       '40', '102', '136', '130', '164', '238', '156', '144', '132',
       '212', '150', '298', '107', '138', '148', '250', '152', '886',
       '800', '522', '814', '332', '2131', '303', '200', '267', '528',
       '382', '309', '670', '222', '624', '490', '608', '554', '805',
       '18', '596', '112', '1525', '400', '654', '71', '432', '538',
       '1034', '872', '636', '368', '85', '244', '2936', '322', '440',
       '416', '316', '472', '513', '928', '1900', '498', '1816', '372',
       '296', '628', '1448', '80', '84', '189', '1735', '243', '304',
       '223', '572', '168', '466', '1152', '702', '418', '329', '161',
       '566', '560', '271', '517', '186', '165', '292', '79', '149',
       '240', '251', '258', '145', '190', '159', '317', '69', '209',
       '225', '197', '504', '162', '68', '365', '460', '320', '286',
       '420', '228', '1474', '1117', '263', '1172', '2198', '260', '180',
       '1121', '394', '948', '302', '247', '2822', '643', '288', '527',
       '281', '774', '568', '1352', '253', '291', '1105', '207', '245',
       '185', '328', '274', '239', '236', '338', '61', '342', '297',
       '579', '231', '1343', '139', '454', '203', '166', '100', '98',
       '232', '195', '500', '362', '710', '408', '126', '480', '41',
       '293', '14', '74', '198', '220', '192', '335', '321', '233', '403',
       '54', '387', '276', '576', '1555', '279', '1123', '208', '307',
       '347', '49', '450', '424', '686', '371', '350', '326', '714',
       '458', '657', '496', '506', '448', '986', '259', '402', '334',
       '131', '214', '295', '264', '340', '26', '1278', '629', '367',
       '977', '410', '626', '793', '640', '278', '128', '287', '532',
       'Unknown', '124', '412', '536', '235', '289', '57', '357', '116',
       '444', '674', '542', '773', '348', '58', '656', '12', '1304',
       '294', '1402', '840', '900', '2012', '912', '1084', '44', '336',
       '183', '708', '174', '1342', '1078', '376', '1550', '924', '312',
       '1916', '1248', '380', '812', '2186', '756', '158', '140', '170',
       '176', '300', '266', '726', '740', '864', '318', '374', '632',
       '1131', '1188', '1602', '1076', '1328', '703', '1745', '601',
       '922', '944', '1122', '832', '1120', '505', '356', '994', '1390',
       '796', '229', '75', '558', '426', '364', '704', '1104', '1108',
       '421', '958', '2666', '177', '781', '658', '445', '625', '284',
       '1030', '594', '863', '556', '36', '580', '782', '125', '153',
       '1992', '133', '3347', '1124', '810', '1040', '449', '22', '1008',
       '305', '1118', '668', '443', '1154', '246', '492', '39', '524',
       '666', '694', '888', '742', '1016', '471', '877', '1209', '442',
       '689', '555', '913', '776', '1166', '1436', '499', '734', '324',
       '795', '664', '764', '1596', '1174', '794', '762', '1334', '1456',
       '462', '16', '135', '898', '88', '453', '788', '147', '684', '685',
       '52', '1699', '390', '120', '319', '94', '744', '1454', '344',
       '718', '1262', '936', '392', '13', '2419', '11', '341', '590',
       '1516', '182', '616', '772', '754', '73', '226', '1380', '89',
       '108', '972', '1096', '824', '361', '494', '1376', '508', '904',
       '1042', '690', '118', '1038', '808', '434', '202', '548', '193',
       '378', '105', '553', '748', '598', '1532', '482', '249', '916',
       '730', '114', '806', '352', '272', '860', '775', '474', '564',
       '404', '660', '363', '1396', '874', '663', '469', '346', '739',
       '1434', '713', '313', '745', '19', '3907', '8114', '865', '90',
       '488', '175', '401', '501', '129', '237', '46', '587', '188', '76',
       '354', '678', '56', '1128', '306', '967', '325', '2116', '955',
       '612', '457', '497', '589', '620', '280', '273', '308', '349',
       '752', '452', '818', '330', '728', '475', '862', '277', '391',
       '519', '641', '417', '509', '529', '353', '964', '34', '92', '397',
       '539', '369', '1608', '1546', '137', '51', '1146', '199', '146',
       '171', '261', '876', '950', '219', '828', '106', '210', '360',
       '78', '530', '269', '1048', '1778', '1062', '940', '1446', '20',
       '1060', '1208', '339', '385', '1224', '425', '1286', '586', '446',
       '569', '386', '436', '1192', '516', '637', '1074', '216', '351',
       '396', '270', '221', '962', '255', '121', '1026', '691', '681',
       '9', '311', '582', '25', '1011', '66', '38', '109', '437', '241',
       '33', '217', '256', '515', '1381', '3682', '966', '123', '113',
       '60', '343', '10', '191', '167', '65', '597', '23', '1003', '327',
       '406', '1635', '1714', '53', '2034', '163', '67', '173', '345',
       '154', '62', '35', '29', '48', '439', '849', '393', '534', '299',
       '409', '310', '1218', '1346', '502', '512', '398', '381', '724',
       '540', '283', '110', '43', '50', '333', '465', '583', '484', '786',
       '856', '187', '613', '935', '521', '518', '184', '388', '262',
       '722', '602', '323', '570', '205', '366', '143', '96', '763',
       '459', '201', '787', '265', '95', '111', '70', '24', '476', '5494',
       '379', '630', '99', '633', '511', '559', '227', '47', '31', '17',
       '55', '45', '285', '1168', '880', '8', '464', '688', '960', '954',
       '565', '3219', '585', '414', '615', '544', '884', '407', '680',
       '672', '957', '545', '430', '411', '169', '1244', '1242', '257',
       '115', '1724', '1452', '1510', '1418', '1986', '736', '30', '1282',
       '28', '676', '419', '623', '1598', '3101', '155', '211', '37',
       '707', '81', '1303', '1292', '389', '1017', '1392', '1476', '1677',
       '1220', '902', '1092', '1243', '869', '798', '669', '93', '179',
       '157', '1977', '117', '533', '1455', '218', '1368', '701', '578',
       '1110', '574', '141', '3095', '1180', '600', '427', '2622', '873',
       '932', '621', '609', '438', '870', '1791', '377', '447', '1230',
       '819', '87', '2279'], dtype=object)

In [15]:
books_data.pages.astype(int)

ValueError: invalid literal for int() with base 10: 'Unknown'

In [20]:
books_data.pages = books_data.pages.replace("Unknown", np.nan)

In [22]:
books_data.pages.astype(float)

0        252.0
1        802.0
2       1662.0
3       1512.0
4        248.0
         ...
2044     256.0
2045     608.0
2046     512.0
2047     448.0
2048     256.0
Name: pages, Length: 2049, dtype: float64

In [33]:
books_data.published_date.unique()

array(['1996', '2010-09-01', '2004', ..., '2004-12-28', '1999-03-01',
       '2023-05-16'], dtype=object)

In [34]:
books_data.published_date.str.len()

0        4.0
1       10.0
2        4.0
3        4.0
4        4.0
        ...
2044    10.0
2045    10.0
2046    10.0
2047    10.0
2048    10.0
Name: published_date, Length: 2049, dtype: float64

In [35]:
books_data.published_date.str.len().value_counts()

published_date
10.0    1142
4.0      711
7.0      108
9.0        1
25.0       1
Name: count, dtype: int64

In [36]:
len("2025-06-24")

10

In [38]:
books_data[
    books_data.published_date.str.len() == 25
]

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
1820,L'amore bugiardo,Gillian Flynn,528.0,Fiction,DA QUESTO LIBRO IL FILM DIRETTO DA DAVID FINCH...,2012-12-13T00:00:00+01:00,Rizzoli First,it,No rating,0,http://books.google.com/books/content?id=8eTf5...

In [41]:
books_data[
    books_data.published_date.str.len() == 9
]

,title,author,pages,genre,description,published_date,publisher,language,average_rating,ratings_count,thumbnail
1196,Agatha Christie: The Queen of Murder Mysteries...,Daniel McGee,132.0,Biography & Autobiography,A fascinating exploration of the contents of a...,101-01-01,Daniel McGee,en,No rating,0,http://books.google.com/books/content?id=gMkSE...